@font-face{
    font-family:poppins;
    src:url(fonts/Poppins-Regular.ttf);
}
@font-face{
    font-family:Montserrat;
    src:url(fonts/Montserrat-Regular.ttf);
}

/*
color:ff014f
color:rgb(196,207,222)
background:#212428;
*/
*{
    font-family: poppins;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #212428;
}
a{
    -webkit-tap-highlight-color: transparent;
}
h1{
    font-size: 2.1rem;
    font-family: Montserrat;
    color: rgb(196,207,222);
    font-weight: 800;
}
h3{
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
}
h4{
    font-size: 1.35rem;
    font-weight: 600;
    color: #fff;
}
p{
    font-size: 1.05rem;
    color: #C4CFDE;
}
.color-fb{
    color: #0095ba;
}
.color-in{
    color: #08225a;
}
.color-ins{
    color: #f1a988;
}
.none{
    display: none!important;
}
.active{
    color: #ff014f!important;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05),
    -5px -5px 5px 5px rgba(255,255,255,0.02);
}
.activate{
    background-color: #ff014f!important;
}
.typewriter{
    font-size: 1.7rem;
}
.color-basic{
    color: #ff014f;
}
.navigation{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    transition: 0.2s ;
    z-index: 9;
}
.navigation.scrolled{
    background-color: rgba(33, 36, 40, 0.87);
    box-shadow: rgb(28, 30, 34) 10px 10px 19px 0, rgb(38, 42, 46) -10px -10px 19px 0;
    position: fixed;
    backdrop-filter: blur(15px);
    height: 70px;
}
.navigation > div{
    display: flex;
    align-items: center;
    padding:0 5%;
}
.navigation .logo-ico{
    justify-content: flex-start;
}
.navigation .logo-ico img{
    height: 50px!important;
    width: 55px;
    border-radius: 50%;
}
.navigation .humburger{
    justify-content: flex-end;
}
.navigation .logo-ico img{
    height: 70%;
}
.navigation .humburger .three-menu{
    font-size: 36px;
    color: #ff014f;
    font-weight: 500;
    border-radius: 8px;
    padding: 5px;
    transition: 5s;
}
.navigation .humburger .three-menu:hover{
    background-image: linear-gradient(145deg, rgb(30,32,36) ,rgb(35,39,43));
    font-size: 36.5px;
}
#overlay{
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    overflow: scroll;
}
.main-header .nav-links{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background-color: #212428;
    overflow-y: scroll;
    z-index: 11;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2% 3%;
    transform: translateX(-350px);
    opacity: 0;
    transition: 0.5s;
}
.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 20px;
}
.main-content .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.main-content .head img{
    height: 70px;
    width: 70px;
}
.main-content .head button{
    border: none;
    background-color: transparent;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.05) 0 2px 5px 2px;
    overflow: hidden;
}
.main-content .head button ion-icon{
    background-color: rgba(255,255,255,0.01);
    color: #ff014f;
    height: 100%;
    width: 100%;
}
.main-content p{
    width: 100%;
    margin-top: 20px;
    color: rgb(135,142,153);
}
.link-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.link-content .links{
    width: 100%;
    margin-top: 20px;
}
.link-content .links li{
    margin: 8px 0;
    height: 27px;
    line-height: 27px;
    list-style: none;
}
.link-content .links li a{
    text-decoration: none;
    font-family: Montserrat;
    color: #C4CFDE;
    font-size: 0.8rem;
    font-weight: 500;
    transition: 0.5s;
}
.link-content .links li:hover a{
    color: #ff014f;
}
.link-content .icons{
        border-top: 1px solid rgba(255,255,255,0.2);
}
.link-content .icons , .icons-2{
    width: 100%;
    margin-top: 100px;
    padding-top: 20px;
    margin-bottom: 50px;
}
.link-content .icons span,.mini, .icons-2 span{
    display: block;
    color: #f7d604;
    margin-bottom: 20px;
}
.link-content .icons ul, .icons-2 ul{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}
.link-content .icons ul li, .icons-2 ul li{
    list-style: none;
    width: 55px;
    height: 55px;
    margin-right: 8%;
    line-height: 55px;
    border-radius: 8%;
    background-color: rgba(16, 243, 92, 0.776);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.link-content .icons ul li:hover, .icons-2 ul li:hover{
    transform: translateY(-8px);
    background-image: linear-gradient(145deg, rgb(92, 137, 226) ,rgb(35,39,43));
}
.link-content .icons ul li a, .icons-2 ul li a{
    color: #f2f2de;
    font-size: 2rem;
    text-decoration: none;
    height: 70%;
    width: 70%;
    text-align: center;
    webkit-user-select: none;
}
.link-content .icons ul li a ion-icon, .icons-2 ul li a ion-icon{
    height: 100%;
    width: 100%;
}
.color-gray{
    color: lightgray!important;
    font-size: 0.9rem;
}

/*------------------------
        main tag
------------------------*/
.main {
    width: 100%;
}

.main .header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    margin: 0 auto;
    position: relative;
}
.main .header #particles-js,#particles-js3,#particles-js2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.main .header img{
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.02),rgba(255,255,255,0.03));
    background-repeat: no-repeat;
    background-size: 100% 75%;
    background-position: bottom;
}
.main .header .content{
    width: 100%;
    margin-top: 5%;
}

.main .header .content p,.main .header .content h1,.main .header .content > span{
    margin-top: 15px;
}

.main .header .content .sector{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.icons-2{
    margin-top: 20px;
    margin-bottom: 0;
}
.icons-2 ul li{
    background-image: linear-gradient(145deg, rgb(30,32,36) ,rgb(35,39,43));
    box-shadow: -5px -5px 10px 1px rgba(128,128,128,0.064);
}
.icons-2 ul li:hover{
    background-image: linear-gradient(-145deg, rgb(30,32,36) ,rgb(35,39,43));
}


/* ------------------------
        cards feature
  ------------------------*/
  
.feature ,
.common-sec{
    width: 90%;
    margin: 100px auto;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding-bottom: 100px;
    position: relative;
}
.alt-heading{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
    max-width: 80%;
    margin: 0 auto 100px auto;
}
.alt-heading span{
    font-size: 1.1rem;
    display: block;
    margin-bottom: 15px;
}
.stac-left{
    justify-content: flex-start;
    text-align: left;
    margin: 50px 0;
}
.stac-left *{
    width: 100%;
}
.feature .cards,.portfolio .cards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    width: 100%;
}
.feature .cards .card,.portfolio .cards .card{
    width: 90%;
    padding: 5%;
    margin-top: 50px;
    transition: 0.5s;
    background-image: linear-gradient(90deg, rgba(30,32,36,0.02),rgba(30,32,36,0.01));
    border-radius: 5%;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}
.feature .cards .card:hover ,.portfolio .cards .card:hover{
    background-image: linear-gradient(-145deg, rgb(30,32,36) ,rgb(35,39,43));
}
.feature .cards .card > * , .portfolio .cards .card > *{
    margin-top: 10px;
}
.feature .cards .card ion-icon{
    color: #ff014f;
    font-size: 2rem;
}
.feature .cards .card ion-icon:first-child{
    font-size: 3rem;
}

.feature .cards .card ion-icon:last-child{
    opacity: 0;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
    font-size: 2rem;
}
.feature .cards .card:hover ion-icon:last-child{
    opacity: 1;
    height: 30px;
}

.portfolio .cards .card img{
    width: 100%;
    margin: 2% auto;
    border-radius: 5%;
    transform: scale(0.97);
    transition: 0.5s;
}
.portfolio .cards .card:hover img{
    transform: scale(1);
}
.portfolio .cards .card div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.portfolio .cards .card div span:last-child{
    color: #fff;
}
.portfolio .cards .card:hover h3{
    color: #ff014f;
}
.portfolio .cards .card h3 .hidden ion-icon{
    transform: rotate(-30deg);
    transition: 0.5s;
    height: 0;
    overflow: hidden;
}
.portfolio .cards .card:hover h3 .hidden ion-icon{
    height: 20px;
}
.resume .resume-nav,.common.resume-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05),
    -5px -5px 5px 5px rgba(255,255,255,0.02);
    border-radius: 10px;
    margin-bottom: 40px;
}
.resume .resume-nav .link, .common.resume-nav .link{
    width: 100%;
    height: 25%;
    text-align: center;
    padding: 18px 0;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    font-family: Montserrat;
    transition: 0.5s;
    user-select: none;
}
.resume .resume-nav .link:hover,.common.resume-nav .link:hover{
    color: #ff014f;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05),
    -5px -5px 5px 5px rgba(255,255,255,0.02);
    background-image: linear-gradient(-145deg, rgb(30,32,36) ,rgb(35,39,43));
}
.resume .timelines{
    padding-left: 40px;
    border-left: 5px solid rgba(0,0,0,0.2);
}

.resume .timelines .timeline{
    height: 35%;
    margin: 30px 0;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05),
    -5px -5px 5px 5px rgba(255,255,255,0.02);
    position: relative;
}
.resume .timelines .timeline:before{
    content: '';
    position: absolute;
    top: 20px;
    left: -52.5px;
    display: block;
    height: 10px;
    width: 10px;
    border: 5px solid #181f21;
    border-radius: 50%;
    background-color: #212428;
    transition: 0.5s;
}
.resume .timelines .timeline:hover::before{
    background-color: #ff014f;
}
.resume .timelines .timeline *{
    margin: 15px 0;
}
.resume .timelines .timeline div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgray;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.resume .timelines .timeline div span:last-child{
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05),
    -5px -5px 5px 5px rgba(255,255,255,0.02);
    padding: 3px 5px;
    border-radius: 5px;
}
.resume .timelines .timeline div span:first-child{
    font-size: 0.85rem;
}
.testimonial .card , .card-cv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05),
    -5px -5px 5px 5px rgba(255,255,255,0.02);
    background-image: linear-gradient(-145deg, rgba(30,32,36,0.2) ,rgba(35,39,43,0.2));
    margin-bottom: 20px;
}
.testimonial .card img ,.card-cv img{
    transition: 0.5s;
    width: 100%;
}
.testimonial .card:hover img,.card-cv:hover img{
    transform: scale(1.1);
}
.testimonial .card .divider,.card-cv .divider{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.testimonial .card .divider:first-child,.card-cv .divider:first-child{
    overflow: hidden;
    align-items: center;
    border-radius: 8px;
}
.testimonial .card .divider:last-child span:last-child,.testimonial .card .crd-head .text span, .card-cv .divider:last-child span, .card-cv .crd-head .text span{
    color: #C4CFDE;
}
.testimonial .card .crd-head,.card-cv .crd-head{
    width: 100%;
}
.testimonial .card .crd-head .text ,.card-cv .crd-head .text {
    width: 100%;
}
.testimonial .card .crd-head .text span,.card-cv .crd-head .text span{
    font-size: 0.9rem;
    display: block;
}
.testimonial .card .divider:last-child *{
    margin: 10px 0;
}
.testimonial .card.crd-2> *,.card-cv> *,.testimonial .card .crd-head .text > *,.card-cv .crd-head .text > *{
    margin: 10px 0;
}
.testimonial .card .crd-head {
    border-bottom: 1px solid darkgray;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
.testimonial .card .crd-head .stars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gold;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05),
    -5px -5px 5px 5px rgba(255,255,255,0.04);
    width: 125px;
    height: 30px;
    padding: 0 5px;
}
.testimonial .card .crd-head .stars .star{
    font-size: 14px;
}
.testimonial .balls{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 0 0;
}
.testimonial .balls div{
    height: 20px;
    width: 20px;
    background-color: rgba(0,0,0,0.05);
    border-radius: 50%;
    margin: 0 10px;
    box-shadow: 1px 1px 4px 2px #000 inset, 2px 2px 4px 2px rgba(255,255,255,0.05);
    transition: 0.5s;
}
.testimonial .balls div:hover{
    background-color: #ff014f;
}

.clients .cards{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    margin-top: 50px;
}
.clients .cards .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05),
    -5px -5px 5px 5px rgba(255,255,255,0.04);
    background-image: linear-gradient(-145deg, rgb(30,32,36) ,rgb(35,39,43));
    border-radius: 8px;
    transition: 0.5s;
}
.clients .cards .card:hover{
        background-image: linear-gradient(145deg, rgb(30,32,36) ,rgb(35,39,43));
}
.clients .cards .card .img{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients .cards .card .img img{
    width: 80%;
    padding: 20px;
}
.clients .cards .card a{
    text-decoration: none;
    color: lightgray;
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.5s;
}
.clients .cards .card:hover a{
    color: #ff014f;
}
.pricing .p-card0{
    border-radius: 8px;
    width: 100%;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05),
    -5px -5px 5px 5px rgba(255,255,255,0.04);
}
.pricing .p-card0 .p-card{
    padding: 15px;
}
.pricing .p-card0 .p-card .cost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
.pricing .p-card0 .p-card .cost *{
    margin: 10px 0;
}
.pricing .p-card0 .p-card .cost .color-basic{
box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05),
    -5px -5px 5px 5px rgba(255,255,255,0.04);
    padding: 5px 7px;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 80px;
    text-align: center;
}
.pricing .p-card0 .p-card .cost .text span{
    color: gray;
}
.pricing .p-card0 .p-card .quality{
    display: flex;
    flex-direction: column;
}
.pricing .p-card0 .p-card > a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    width: 90%;
    margin: 20px auto;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05),
    -5px -5px 5px 5px rgba(255,255,255,0.04);
    border-radius: 2px;
    padding: 5px 0;
}
.pricing .p-card0 .p-card > p{
    color: gray;
    font-size: 1rem;
}
.pricing .p-card0 .p-card .quality p{
    margin: 10px 0;
    color: #fff;
    font-size: 1.05rem;
}
.pricing .p-card0 .p-card .ico{
    display: flex;
    flex-direction: column;
}
.pricing .p-card0 .p-card .ico span{
    font-size: 0.9rem;
    color: lightgray;
    margin-top: 10px;
}
.contact .cards{
    width: 100%;
}
.contact .cards form{
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05),
    -5px -5px 5px 5px rgba(255,255,255,0.04);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}
.contact .cards form *{
    width: 90%;
    margin-top: 5px;
    transition: 0.5s;
}
.contact .cards form label{
    margin-top: 20px;
    color: lightgray;
    font-size: 14px;
}
.contact .cards form input{
    background: rgb(25,27,30);
    border: 2px solid rgb(25,27,30);
    border-radius: 8px;
    padding: 0 15px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.3) inset, -2px -2px 4px 2px rgba(255,255,255,0.05) inset;
    height: 55px;
    color: #fff;
    outline: none;
}
.contact .cards form textarea:focus ,.contact form input:focus{
    border-color: rgb(139,14,54);
}
.contact .cards form textarea{
    background: rgb(25,27,30);
    border: 2px solid rgb(25,27,30);
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.3) inset, -2px -2px 4px 2px rgba(255,255,255,0.05) inset;
    height: 200px;
    color: #fff;
    outline: none;
}
.contact .cards form button{
    margin-top: 30px;
    border: none;
    background-color: transparent;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05),
    -5px -5px 5px 5px rgba(255,255,255,0.04);
    background-image: linear-gradient(145deg, rgb(30,32,36) ,rgb(35,39,43));
    height: 55px;
    border-radius: 8px;
    transition: 0.5s;
    color: #ff014f;
    font-weight: bold;
}
.contact .cards form button:hover{      
    background-image: linear-gradient(-145deg, rgb(30,32,36) ,rgb(35,39,43));
    height: 53px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer p{
    margin: 20px 0;
    text-align: center;
}
.footer-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}





/* responsive */


@media screen and (min-width:577px) and (max-width:768px){
    .common-sec{
        width: 80%;
    }
}
@media screen and (min-width:577px){
    .clients .cards{
    justify-content: space-between;
    grid-template-columns: repeat(3,1fr);
    }
    .testimonial .card-row{
        flex-direction: row;
        justify-content: space-between;
    }
    .testimonial .card-row .divider:first-child{
        margin-right: 20px;
    }
    .feature .cards .card,.portfolio .cards .card{
        width: 70%;
    }
    .feature .cards,.portfolio .cards{
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    }
}
@media screen and (min-width:769px) and (max-width:992px){
    .common-sec{
        width: 75%;
    }
    p{
        font-size: 1rem;
    }
    .resume .resume-nav,.common.resume-nav{
        flex-direction: row;
    }
    .main .header .content .sector{
        flex-direction: row;
    }
}
@media screen and (min-width:993px) {
    .common-sec{
        width: 70%;
    }
    p{
        font-size: 1rem;
    }
    h1{
        font-size: 2.3rem;
    }
    .resume .resume-nav,.common.resume-nav{
        flex-direction: row;
    }
    .main .header .content .sector{
        flex-direction: row;
    }

    .three-menu{
        display: none;
    }
    .humburger{
        display: flex;
        align-items: center;
    }
    .none{
        display: flex!important;
        align-items: center;
    }
    .none ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0!important;
    }
    .none ul li{
        padding: 0 15px;
        margin: 0;
    }
    .main .header{
        display: flex;
        flex-direction: row-reverse;
        width: 80%;
    }
    .main .header img{
        width: 50%;
        margin-left: 10px;
    }
    .navigation{
        grid-template-columns: 1fr 3fr;
    }
    .main .header .content .sector{
        flex-direction: row;
    }
    /* 
    p{
        font-size: 1rem;
    }
    .resume .resume-nav,.common.resume-nav{
        flex-direction: row;
    }
    h1{
        font-size: 2.3rem;
    }
    .main .header .content .sector{
        flex-direction: row;
    } */
}
